# Privacy Suppression in Python


Some sources consulted:  
https://stackoverflow.com/questions/68275206/how-would-you-suppress-values-below-a-threshold-and-replace-with-a-string-in-pyt
https://stackoverflow.com/questions/74552418/python-complementary-suppression-of-2nd-lowest-value-row-wise

### Import Packages

In [5]:
import pandas as pd
import matplotlib
import numpy as np

### Use a simple example from Stack Overflow to do Primary Suppression

In [6]:
#Read in our data of interest
#df = pd.read_excel(r"Suppression Demo.xlsx", sheet_name = "Readin")

df = pd.read_excel(r"Suppression Demo.xlsx", sheet_name = "Readin")

In [7]:
df.head()

,State,Year,IHE name,Program type,Demographic,Values,Example: Privacy Suppressed
0,Alabama,AY 2018-19,Alabama A & M University,Traditional,Total enrollment,36,36
1,Alabama,AY 2018-19,Alabama A & M University,Traditional,Male,11,11
2,Alabama,AY 2018-19,Alabama A & M University,Traditional,Female,25,25
3,Alabama,AY 2018-19,Alabama A & M University,Traditional,Hispanic/ Latino of Any Race,1,*
4,Alabama,AY 2018-19,Alabama A & M University,Traditional,American Indian or Alaska Native,0,*

In [8]:
#Specify the unit of analysis as a column
df["Unit - Unique"] = df['IHE name'] + '/' + df['Program type'] + '/' + df['Year']+ '/' + df['State']

In [9]:
df.head()

,State,Year,IHE name,Program type,Demographic,Values,Example: Privacy Suppressed,Unit - Unique
0,Alabama,AY 2018-19,Alabama A & M University,Traditional,Total enrollment,36,36,Alabama A & M University/Traditional/AY 2018-1...
1,Alabama,AY 2018-19,Alabama A & M University,Traditional,Male,11,11,Alabama A & M University/Traditional/AY 2018-1...
2,Alabama,AY 2018-19,Alabama A & M University,Traditional,Female,25,25,Alabama A & M University/Traditional/AY 2018-1...
3,Alabama,AY 2018-19,Alabama A & M University,Traditional,Hispanic/ Latino of Any Race,1,*,Alabama A & M University/Traditional/AY 2018-1...
4,Alabama,AY 2018-19,Alabama A & M University,Traditional,American Indian or Alaska Native,0,*,Alabama A & M University/Traditional/AY 2018-1...

In [10]:
selected_columns = ['Unit - Unique', 'Values', 'Demographic']
Filtered = df[selected_columns]

In [11]:
Filtered.head()

,Unit - Unique,Values,Demographic
0,Alabama A & M University/Traditional/AY 2018-1...,36,Total enrollment
1,Alabama A & M University/Traditional/AY 2018-1...,11,Male
2,Alabama A & M University/Traditional/AY 2018-1...,25,Female
3,Alabama A & M University/Traditional/AY 2018-1...,1,Hispanic/ Latino of Any Race
4,Alabama A & M University/Traditional/AY 2018-1...,0,American Indian or Alaska Native

In [12]:
pivoted_df = Filtered.pivot_table(index='Unit - Unique',columns='Demographic', values='Values')

In [13]:
pivoted_df.head(10)

Demographic,American Indian or Alaska Native,Asian,Black or African American,Female,Hispanic/ Latino of Any Race,Male,Native Hawaiian or Pacific Islander,Total enrollment,Two or More Races,White
Unit - Unique,,,,,,,,,,
"#T.E.A.C.H. Indiana/Alternative, not IHE-based/AY 2020-21/Indiana",0,0,2,15,1,8,0,23,0,20
"#T.E.A.C.H. North Carolina/Alternative, not IHE-based/AY 2020-21/North Carolina",0,4,39,70,3,43,0,113,5,62
"#T.E.A.C.H/Alternative, not IHE-based/AY 2018-19/Michigan",1,2,9,35,3,20,0,61,5,37
"#T.E.A.C.H/Alternative, not IHE-based/AY 2019-20/Michigan",3,10,90,250,15,111,0,361,12,229
"#T.E.A.C.H/Alternative, not IHE-based/AY 2020-21/Michigan",0,14,134,422,22,156,0,578,27,381
"240 Certification/Alternative, not IHE-based/AY 2018-19/Texas",0,2,2,29,5,7,0,36,1,26
"240 Certification/Alternative, not IHE-based/AY 2019-20/Texas",0,4,2,30,5,9,0,39,1,27
"240 Certification/Alternative, not IHE-based/AY 2020-21/Texas",0,3,4,36,12,12,0,49,2,27
"A Career in Education-ACP /Alternative, not IHE-based/AY 2018-19/Texas",0,0,1,4,6,7,0,11,0,4
"A Career in Education-ACP /Alternative, not IHE-based/AY 2019-20/Texas",0,0,4,11,10,12,1,23,0,8

In [14]:
pivoted_df = pivoted_df.drop(['Male', 'Female', 'Total enrollment'], axis=1)

In [15]:
pivoted_df.to_excel('pivoted_df.xlsx')

In [16]:
data = pd.read_excel('pivoted_df.xlsx')

data.dtypes

Unit - Unique                          object
American Indian or Alaska Native        int64
Asian                                   int64
Black or African American               int64
Hispanic/ Latino of Any Race            int64
Native Hawaiian or Pacific Islander     int64
Two or More Races                       int64
White                                   int64
dtype: object

In [17]:
#this code is designed to perform two levels of data suppression. The first suppression replaces values between 0 and 4 with an *
#the second suppression replaces the minimum value in a row with !
#read in pivoted data
data = pd.read_excel('pivoted_df.xlsx')

def two_level_suppression(data, text_column):
    # 1 Primary suppression
    result = pd.DataFrame(data)
    result_df = result.copy()
    suppressed_values_df = pd.DataFrame(index=result_df.index, columns=result_df.columns)

    # Loop iterates through columns in the result_df excluding the text column.
    # Each column is checked, and suppression is applied with '*' for values between 0 and 4.
    # The suppressed values are saved in suppressed_values_df.
    for key in result_df:
        if key != text_column:
            result_df[key] = result_df[key].apply(lambda x: '*' if isinstance(x, (int, float)) and 0 < x < 4 else x) 
            suppressed_values_df[key] = np.where(result[key] != result_df[key], result[key], 0)

    # Create a new column to store values replaced with "!"
    result_df['Second_Suppressed_Value'] = None

    # 2 Complementary suppression only if the sum of the first suppression is < 4
    suppressed_sums = suppressed_values_df.apply(lambda row: row.sum(), axis=1)

    result_df['Suppressed_Sum'] = suppressed_sums

    for i in range(len(result_df)):
        if 0 < result_df['Suppressed_Sum'][i] < 4:
            row = result_df.iloc[i, 1:-1]
            suppressed_row = suppressed_values_df.iloc[i, 1:-1]
            min_value_index = np.argmin(row.replace('*', np.inf).replace(0, np.inf))

            if min_value_index >= 0:
                min_value = result_df.iloc[i, min_value_index + 1]
                result_df.iloc[i, min_value_index + 1] = '!'
                # Store the original value in the "Second_Suppressed_Value" column
                result_df.at[i, 'Second_Suppressed_Value'] = min_value

    return result_df

result_df = two_level_suppression(data, text_column='Unit - Unique')
print(result_df)

                                          Unit - Unique  \
0     #T.E.A.C.H. Indiana/Alternative, not IHE-based...
1     #T.E.A.C.H. North Carolina/Alternative, not IH...
2     #T.E.A.C.H/Alternative, not IHE-based/AY 2018-...
3     #T.E.A.C.H/Alternative, not IHE-based/AY 2019-...
4     #T.E.A.C.H/Alternative, not IHE-based/AY 2020-...
...                                                 ...
6570  iTeachFLORIDA/Alternative, not IHE-based/AY 20...
6571  iteachDC/Alternative, not IHE-based/AY 2020-21...
6572  iteachTEXAS /Alternative, not IHE-based/AY 201...
6573  iteachTEXAS /Alternative, not IHE-based/AY 201...
6574  iteachTEXAS /Alternative, not IHE-based/AY 202...

     American Indian or Alaska Native Asian Black or African American  \
0                                   0     0                         *
1                                   0     !                        39
2                                   *     *                         9
3                                   *     !                        90
4                                   0    14                       134
...                               ...   ...                       ...
6570                                0     *                         0
6571                                0     *                        14
6572                                !    16                       148
6573                               60   123                      1104
6574                               34    88                       713

     Hispanic/ Latino of Any Race Native Hawaiian or Pacific Islander  \
0                               *                                   0
1                               *                                   0
2                               *                                   0
3                              15                                   0
4                              22                                   0
...                           ...                                 ...
6570                            *                                   0
6571                            *                                   0
6572                          167                                   *
6573                          971                                  12
6574                          759                                   9

     Two or More Races White Second_Suppressed_Value  Suppressed_Sum
0                    0     !                      20               3
1                    5    62                       4               3
2                    5    37                    None               6
3                   12   229                      10               3
4                   27   381                    None               0
...                ...   ...                     ...             ...
6570                 0     !                       5               2
6571                 0     !                       9               3
6572                45  1055                      12               2
6573                21  4017                    None               0
6574                 0  2816                    None               0

[6575 rows x 10 columns]

In [18]:
result_df.head(10)

,Unit - Unique,American Indian or Alaska Native,Asian,Black or African American,Hispanic/ Latino of Any Race,Native Hawaiian or Pacific Islander,Two or More Races,White,Second_Suppressed_Value,Suppressed_Sum
0,"#T.E.A.C.H. Indiana/Alternative, not IHE-based...",0,0,*,*,0,0,!,20,3
1,"#T.E.A.C.H. North Carolina/Alternative, not IH...",0,!,39,*,0,5,62,4,3
2,"#T.E.A.C.H/Alternative, not IHE-based/AY 2018-...",*,*,9,*,0,5,37,None,6
3,"#T.E.A.C.H/Alternative, not IHE-based/AY 2019-...",*,!,90,15,0,12,229,10,3
4,"#T.E.A.C.H/Alternative, not IHE-based/AY 2020-...",0,14,134,22,0,27,381,None,0
5,"240 Certification/Alternative, not IHE-based/A...",0,*,*,5,0,*,26,None,5
6,"240 Certification/Alternative, not IHE-based/A...",0,!,*,5,0,*,27,4,3
7,"240 Certification/Alternative, not IHE-based/A...",0,*,4,12,0,*,27,None,5
8,"A Career in Education-ACP /Alternative, not IH...",0,0,*,6,0,0,!,4,1
9,"A Career in Education-ACP /Alternative, not IH...",0,0,!,10,*,0,8,4,1

In [19]:
df = result_df

In [20]:
df.head()

,Unit - Unique,American Indian or Alaska Native,Asian,Black or African American,Hispanic/ Latino of Any Race,Native Hawaiian or Pacific Islander,Two or More Races,White,Second_Suppressed_Value,Suppressed_Sum
0,"#T.E.A.C.H. Indiana/Alternative, not IHE-based...",0,0,*,*,0,0,!,20,3
1,"#T.E.A.C.H. North Carolina/Alternative, not IH...",0,!,39,*,0,5,62,4,3
2,"#T.E.A.C.H/Alternative, not IHE-based/AY 2018-...",*,*,9,*,0,5,37,None,6
3,"#T.E.A.C.H/Alternative, not IHE-based/AY 2019-...",*,!,90,15,0,12,229,10,3
4,"#T.E.A.C.H/Alternative, not IHE-based/AY 2020-...",0,14,134,22,0,27,381,None,0

In [21]:
df.fillna(0, inplace=True)

In [22]:
df['Second_Suppressed_Value'] = pd.to_numeric(df['Second_Suppressed_Value'], errors='coerce', downcast='integer')
df.dtypes

Unit - Unique                           object
American Indian or Alaska Native        object
Asian                                   object
Black or African American               object
Hispanic/ Latino of Any Race            object
Native Hawaiian or Pacific Islander     object
Two or More Races                       object
White                                   object
Second_Suppressed_Value                float64
Suppressed_Sum                           int64
dtype: object

In [23]:
df['total_suppression'] = df['Second_Suppressed_Value'] + df['Suppressed_Sum']

In [24]:
df.head()

,Unit - Unique,American Indian or Alaska Native,Asian,Black or African American,Hispanic/ Latino of Any Race,Native Hawaiian or Pacific Islander,Two or More Races,White,Second_Suppressed_Value,Suppressed_Sum,total_suppression
0,"#T.E.A.C.H. Indiana/Alternative, not IHE-based...",0,0,*,*,0,0,!,20.0,3,23.0
1,"#T.E.A.C.H. North Carolina/Alternative, not IH...",0,!,39,*,0,5,62,4.0,3,7.0
2,"#T.E.A.C.H/Alternative, not IHE-based/AY 2018-...",*,*,9,*,0,5,37,0.0,6,6.0
3,"#T.E.A.C.H/Alternative, not IHE-based/AY 2019-...",*,!,90,15,0,12,229,10.0,3,13.0
4,"#T.E.A.C.H/Alternative, not IHE-based/AY 2020-...",0,14,134,22,0,27,381,0.0,0,0.0

In [25]:
df.to_excel('suppressed_output.xlsx')